body {
    text-align: center;
    background-color: lavender;
}

.writing {
    margin-top: 25%;
    color: darkorange;
    font-size: 40px;
}

.shad__pic {
    width: 30%;
    height: 30%;
}

.wrt {
    color: orangered;
}

.p1 {
    font-size: 25px;
    color: blue;
}

.p2 {
    font-size: 25px;
    color: hotpink;
}

.spann {
    color: coral;
    font-size: 40px;
    background-color: cornsilk;
}